opencv-python==3.4.5.20
imgaug==0.4.0
fontTools==4.12.1
lmdb==0.98
pillow==6.2.2
numpy
tenacity
fire
tqdm
loguru
cffi
sphinx==3.1.2
sphinx-rtd-theme
recommonmark==0.6.0
sphinx-markdown-tables
dataclasses
pytest
typer
streamlit
